.feedly-filter {
  display: inline-block;
  position: fixed;
  right: 280px;
  top: 14px;
  z-index: 1000;
}

.feedly-filter-range {
  height: 24px;
}

#headerBarFX .feedly-filter {
  margin: 7px 8px 0 0;
  vertical-align: top;
}

#searchBarFX .feedly-filter {
  position: absolute;
  right: 210px;
  top: 3px;
}
